<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADM" version="10.3.0-alpha0011" targetFramework="net462" />
  <package id="ADM.Acord" version="10.3.0-alpha0080" targetFramework="net462" />
  <package id="ADM.Acord.TXLife" version="10.3.0-alpha0193" targetFramework="net462" />
  <package id="ADM.Acord.TXLife.Imp2" version="10.3.0-alpha0080" targetFramework="net462" />
  <package id="ADM.FMS" version="10.3.0-alpha0004" targetFramework="net462" />
  <package id="ADM.FMS.XmlSource" version="7.1.5821.19075" targetFramework="net462" />
  <package id="FMSRemotingClient" version="10.3.0-alpha0004" targetFramework="net462" />
  <package id="Form.AnnuityDelegate" version="10.3.0-alpha0080" targetFramework="net462" />
  <package id="Form.BusinessObjects" version="10.3.0-alpha0080" targetFramework="net462" />
  <package id="Form.Public" version="10.3.0-alpha0080" targetFramework="net462" />
  <package id="Ipipeline.Logging" version="10.2.0-beta0002" targetFramework="net462" />
  <package id="MasterConfig.Public" version="10.3.0-alpha0080" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="NLog" version="4.4.10" targetFramework="net462" />
  <package id="OrderShared.BusinessObjects" version="10.3.0-alpha0080" targetFramework="net462" />
  <package id="Product.Public" version="10.3.0-alpha0080" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net462" />
</packages>